#hreddit_postslist_wrapper {
    position: relative;
    overflow-y: scroll;
    flex-grow: 1;
    margin: 0 30px 0;
    background-color: rgb(100, 100, 100);
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

#hreddit_postslist {
    display: flex;
    flex-flow: column;
}

.hreddit_postrow {
    margin: 10px;
    background-color: rgb(183, 183, 183);
    border-radius: 10px;
    padding: 5px;    
}


.hreddit_postrow h4 {
    margin: 0;
}

.hreddit_postrow_detailsdiv {
    display: flex;
}

.hreddit_postrow_detailsdiv p {
    margin: 0 10px 0 0;
}