#hreddit_modal_wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#hreddit_modal_backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.5);
    z-index: 9;
    cursor: pointer;
}

#hreddit_modal_main {
    position: absolute;
    width: 80vw;
    height: 80vh;
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    padding: 15px;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    z-index: 10;
    overflow-y: scroll;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg); }
    to {transform:rotate(360deg); }
}

#hreddit_modal_loadstateimg {
    position: fixed;
    animation: spin 2s infinite linear;
    width: 300px;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
}

.hreddit_modal_postimg {
    max-width: 100%;
}