#hreddit_topPanel {
    display: flex;
    justify-content: space-around;
    margin: 45px;
    background-color: rgb(100, 100, 100);
    padding: 20px;
    border-radius: 20px;
}

#hreddit_topPanel button {
    padding: 5px;
    width: 70px;
    cursor: pointer;
    transition: 0.07s;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

#hreddit_topPanel button:hover {
    background-color: rgb(175, 175, 175);
    color: white;
}